@import url(http://fonts.googleapis.com/css?family=Gabriela);

/* ----------------------------------home page-----------------------------------------------------------*/
body {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  
  font-size: 13px;
  text-align: center;
  background: #fff;
}

#menulista {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;

}
#menulista li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  background: #fff;
  cursor: pointer;

}
#menulista li:hover {
  background: darkgreen;
  color: #fff;
}
#menulista li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;

}
#menulista li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}
#menulista li ul li:hover { background: #666; }
#menulista li:hover ul {
  display: block;
  opacity: 1;
  visibility:visible;
}

#menu{
    
    overflow:inherit;
}
#sadrzaj{
   top:20px;
    position:relative;
    border: 1px black;
    height: auto;
    display: block;
    overflow:inherit;
}
#A_slika{
    float: right;
    width: 40%;
}
#a_slika{
    float: right;
    width: 95%;
}

#a_tekst{
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: left;
    float: left;
    width: 55%;
    margin-left: 5px;
}
#B_slika{
    float: left;
    width: 40%;
}

#b_slika{
    float: left;
    width: 100%;
}
#b_tekst{
    text-align: left;
   float: right;
 width: 60%;   
}

#lijevi,#desni,#A{
}

#A{
    position: relative;
     border: 1px solid black;
    height: auto;
    overflow: hidden;
}

#B{
    position: relative;
     border: 1px solid red;
    height: auto;
    overflow: hidden;
}
#desni{
    font-family: fantasy;
     border: 1px solid black;
    position:static;
    float: right;
    width: 20%;
    height: 1000px;
}

#lijevi{
    text-align: center;
    font-family: Gabriela;
     border: 1px solid black;
    position: sticky;
    float: left;
    width: 20%;
    height: 1000px;
}

#navigator{
    
    display: inline;
    width: 500px;
    
}

#kateg_lista{
    margin-top: -10px;
    list-style: circle;
    text-align: left;
}
#kateg_lista li {
    list-style:disc;
    
}

#kateg_lista li ul li{
    list-style:circle;
    
}

#desni p {
    margin-top: 0px;
    height: auto;
    background: #1b5c0b;
    width: 100%;
    font-size: 25px;
    color: white;
}

/* ----------------------summary page----------------------------------- */

body{
background-color:#fff;
}
table {
    align-self: center;
    border-collapse: collapse;
    width: 80%;
    background: #fff;
text-align:center;

}
td, th {
    padding: 0.75em 1.5em;
    
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #31bc86;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody td:hover {
    background-color: rgba(129,208,177,.3);
}

#saldo {
background-color:darkgreen;
}



